body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color:#282828;
}

/*typography*/
h1{
    font-size:40px;
    font-weight: 400;
    margin:30px 25px;
}

/*layout*/
header{
    background-color: #282828;
    color:whitesmoke;
}

ul{
    margin-top:0;
    display: flex;
    align-items: center;
    gap:10px;
    list-style-type: none;
    padding:25px;
}

li{
    cursor:pointer;
}

.logo{
    font-size: 18px;
    font-weight: 700;
}

.icon{
    width: 25px;
}

.align-right{
    margin:auto 0 auto auto;
}

.item{
    position: relative;
}

.item-img{
    width:100%;
    margin-bottom: 0;
    /*img are inline set it to block for removing whitespace below img*/
    display: block;
}

.caption{
    margin: 0 25px;
    display: flex;
    gap:20px;
    justify-content: space-between;
}

.img-banner{
    background-color: #cd6868;
    color:whitesmoke;
    padding:10px;
    position:absolute;
    top:0;
    left:0;
}

button{
    /* margin:auto 0 auto auto; */
    align-self: center;
    border:none;
    background-color: #cd6868;
    color:whitesmoke;
    padding:10px 15px;
    font-weight: 700;
    cursor:pointer;
}

.chatbox-bg{
    position: fixed;
    bottom: 6px;
    right: 6px;
    
    background-color: #dda15e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;

    display: flex;

   
}

.chatbox-img{
    width: 50%;
    margin:auto;
}